* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url('Photos/OFit.jpg');
}


.header {
    width: 100%;
    height: 80px;
    display: block;
}

.inner_header {
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(40,43,102);
    background: radial-gradient(circle, rgba(40,43,102,1) 67%, rgba(82,159,235,1) 100%);
}


.logo_container {
    width: 10%;
    height: 100%;
    display: table;
    float: left;
}


    .logo_container h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        color: white;
        font-size: 60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 20%;
    }

        .logo_container h1 span {
            font-weight: 80%;
            font-family: 'chakra petch';
        }

.nav {
    float: right;
    height: 100%;
}


    .nav b {
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
        font-size: 130%;
    }


        .nav b li {
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 23px;
            padding-left: 20px;
        }

.maintitle h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hotpink;
    padding-top: 15px;
    font-size: 40px;
    padding-left: 200px;
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

    .product-card img {
        width: 100%;
    }

    .product-card h3 {
        font-size: 18px;
        margin: 10px 0;
    }

    .product-card p {
        color: rgb(0, 0, 0);
        font-size: 25px;
    }

    .product-card button {
        background-color: #333;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
    }

        .product-card button:hover {
            background-color: #222;
        }

.cart table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ccc;
}

.cart td, .cart tr {
    border: 3px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: left;
}

    .cart tr:nth-child(even) {
        background-color: #f2f2f2;
    }


#total {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

#checkout {
    height: 50px;
    width: 100px;
    background-color: rgb(247, 247,  247);
}
